body {
    font-family: Lato, sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
}

header a {
    color: #36454F;
}

#logo {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #36454F;
    letter-spacing: 4px;
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-decoration: none;  
}

#tagline {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 12px;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#hero-image {
height: 600px;
width: 100%;
background:url(../images/dough-hero-image.jpg); no-repeat; center center;
overflow: hidden;
}

#about {
    float: inherit;
    margin-left: 50px;
}
