* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300px;
    color: #36454F;
}

header a {
    color: #36454F;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #36454F;
    
}

.tagline {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}