body {
    font-family: Lato, sans-serif;
    font-weight: 300px;
    color: #333333;
    background-color: #fffef1;
}

header a {
    color: #333333;
    margin: 0;
}

#logo {
max-width: 200px;
max-height: 200px;
resize: both;
border-left: 30px;
border-top: 10px;
margin-top:10px;
margin-left:80px;
}

#tagline {
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size:  50px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
    color: #d39b42;
    margin-right: 60px;
    margin-top: 60px;
}
  
.topnav {
    background-color:#fffef1;
    margin: auto;
    margin-right: 60px;
    position: relative;
}

  .topnav #myLinks {
    display:none;
  }
  
  .topnav a {
    color:#333333;
    padding: 6px 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    display:block;
  }
  
  .topnav a.icon {
    background:#fffef1;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    color: #ef8b24;
  }

#hero-image {
height: 1000px;
width: 100%;
background:url(../images/dough-hero-image.jpg); no-repeat; center center;
background-size: cover;
overflow: hidden;
margin-top: -50px;
}

#about-us-box {
    background-color: #333333;
    color: #fffef1;
    width:95%;
    height: 600px;
    padding: 15px;
    margin-left: 10px;
    box-shadow: 0px 0px 0px 5px #ef8b24; inset;
    border-radius: 25px;
}

#about {
    float: inherit;
    margin: 0;
    text-align: center;
}

#about h2{
    font-family: 'Courier New', Courier, monospace;
    color: #ef8b24;
    font-size: 50px;
    
}

#about p {
    text-align: left;
    margin-left: 70px;
    font-size: 40px;
}

#our-bakes h2 {
    color: #d39b42;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
}

#strawberry  {
width:300px;
height:300px;
resize: both;
margin-left: 60px;
float: left;
border: #ef8b24 solid 2px;
}

#bake1 {
    float: right;
    font-family: lato; sans serif;
    background-color: #333333;
    width:95%;
    height: 300px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 0px 5px #ef8b24; inset;
    border-radius: 25px;
}

#bake1 h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #ef8b24;
    text-align: center;
    font-size: 30px;
}

#bake1 p {
    color: #fffef1;
    font-size: 25px;
    text-align: right;
}

#caramallow  {
    width:300px;
    height:300px;
    resize: both;
    margin-right: 60px;
    float: right;
    border: #ef8b24 solid 2px;
    }
    
    #bake2 {
        float:left;
        font-family: lato; sans serif;
        background-color: #333333;
        width:95%;
        height: 300px;
        padding: 15px;
        margin:10px;
        margin-top: 20px;
        box-shadow: 0px 0px 0px 5px #ef8b24; inset;
        border-radius: 25px;
    }
    
    #bake2 h3 {
        font-family: 'Courier New', Courier, monospace;
        color: #ef8b24;
        text-align: center;
        font-size: 30px;
    }
    
    #bake2 p {
        color: #fffef1;
        font-size: 25px;
        text-align: left;
    }

    #lemon-cake  {
        width:300px;
        height:300px;
        resize: both;
        margin-left: 60px;
        float: left;
        border: #ef8b24 solid 2px;
        }
        
        #bake3 {
            float: right;
            font-family: lato; sans serif;
            background-color: #333333;
            width:95%;
            height: 300px;
            padding: 15px;
            margin: 10px;
            margin-top: 20px;
            box-shadow: 0px 0px 0px 5px #ef8b24; inset;
            border-radius: 25px;
        }
        
        #bake3 h3 {
            font-family: 'Courier New', Courier, monospace;
            color: #ef8b24;
            text-align: center;
            font-size: 30px;
        }
        
        #bake3 p {
            color: #fffef1;
            font-size: 25px;
            text-align: right;
        }

        #halcyon  {
            width:300px;
            height:300px;
            resize: both;
            margin-right: 60px;
            float: right;
            border: #ef8b24 solid 2px;
            }
            
            #bake4 {
                float:left;
                font-family: lato; sans serif;
                background-color: #333333;
                width:95%;
                height: 300px;
                padding: 15px;
                margin:10px;
                margin-top: 20px;
                box-shadow: 0px 0px 0px 5px #ef8b24; inset;
                border-radius: 25px;
            }
            
            #bake4 h3 {
                font-family: 'Courier New', Courier, monospace;
                color: #ef8b24;
                text-align: center;
                font-size: 30px;
            }
            
            #bake4 p {
                color: #fffef1;
                font-size: 25px;
                text-align: left;
            }

            #billionaires  {
                width:300px;
                height:300px;
                resize: both;
                margin-left: 60px;
                float: left;
                border: #ef8b24 solid 2px;
                }
                
                #bake5 {
                    float: right;
                    font-family: lato; sans serif;
                    background-color: #333333;
                    width:95%;
                    height: 300px;
                    padding: 15px;
                    margin: 10px;
                    margin-top: 20px;
                    box-shadow: 0px 0px 0px 5px #ef8b24; inset;
                    border-radius: 25px;
                }
                
                #bake5 h3 {
                    font-family: 'Courier New', Courier, monospace;
                    color: #ef8b24;
                    text-align: center;
                    font-size: 30px;
                }
                
                #bake5 p {
                    color: #fffef1;
                    font-size: 25px;
                    text-align: right;
                }
        
                #hitmeup {
                    width:300px;
                    height:300px;
                    resize: both;
                    margin-right: 60px;
                    float: right;
                    border: #ef8b24 solid 2px;
                    }
                    
                    #bake6 {
                        float:left;
                        font-family: lato; sans serif;
                        background-color: #333333;
                        width:95%;
                        height: 300px;
                        padding: 15px;
                        margin:10px;
                        margin-top: 20px;
                        box-shadow: 0px 0px 0px 5px #ef8b24; inset;
                        border-radius: 25px;
                    }
                    
                    #bake6 h3 {
                        font-family: 'Courier New', Courier, monospace;
                        color: #ef8b24;
                        text-align: center;
                        font-size: 30px;
                    }
                    
                    #bake6 p {
                        color: #fffef1;
                        font-size: 25px;
                        text-align: left;
                    }
                

.contact-section {
    clear: left;
    background: url(../images/contact-us-image.jpeg);
    background-size:cover;
    height: 1000px;
    width: 100%;
    margin-top: -130px;
}
.contact-us-form {
    margin:150px 10% 0 0;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: relative;
    margin-left: -200px;
    left:30%;
    top: 140px;
    padding:30px;
    border-radius: 25px;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px;
    border:1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover {
    border-color:#ef8b24;
}

#message {
    width: 102%;
    height: 100px;
    resize: both;
    margin:5px 0 20px;
    border: 1px solid #fafafa;
    box-sizing: border-box;
}

#message:hover {
    border-color:#ef8b24;
}

.submit-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#ef8b24;
    color: #fafafa;
    display:block;
}

.submit-button:hover {
    background-color:#fafafa;
    color: #ef8b24;
}

#social-media {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    color:#333333;
}

#social-media a  {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    
}

#social-media a:hover {
    color: #ef8b24;
}


#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    border: none;
}

footer {
height: 20px;
}
